.header-color{
    background: var(--cor-c12);
}

.header{
    max-width: 1000px;
    margin: 0 auto;
    color: var(--cor-c0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header-nav a{
    color: var(--cor-c1);
   
}

.header-nav a:hover{
    content: "";
    display: block;
    width: 100%;
    
}

