.header-color {
    background: var(--cor-c12);
}

.header {
    max-width: 1000px;
    margin: 0 auto;
    color: var(--cor-c0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header-nav a {
    color: var(--cor-c1);
    text-decoration: none;
    position: relative;
}

.header-nav a::after {
    content: "";
    display: block;
    background: var(--cor-c0);
    width: 0px;
    height: 2px;
    position: absolute;
    transition: .3s;
}

.header-nav a:hover::after,
.header-nav a.ativo::after {
    width: 100%;
    animation: .3s ease-in-out;
}